---
import BaseLayout from '../layouts/BaseLayout.astro'
import PDFViewer from '../components/PDFViewer.astro'
---

<BaseLayout
    body-class="flex min-h-screen flex-col bg-white text-gray-800 dark:bg-gray-900 dark:text-gray-200"
    ,
    header-navbar-class="sticky top-0 z-20 w-full flex-none"
>
    <main class="mx-auto mt-8 grow justify-center">
        <!-- Grid -->
        <div class="mb-4 grid max-w-(--breakpoint-xl) grid-cols-1 gap-4 lg:grid-cols-3 lg:gap-8">
            <!-- Wrapper first column -->
            <div class="col-span-2 mx-auto">
                <h1
                    class="mb-8 text-3xl leading-none font-extrabold tracking-tight text-gray-800 md:text-5xl lg:text-4xl dark:text-gray-100"
                >
                    Connect with me
                </h1>
                <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-300">
                    In case you're interested in getting in contact with me, there are several ways
                    you can do it, just choose the one you prefer.
                </p>

                <h2 class="text-xl font-semibold text-gray-800 md:text-2xl dark:text-gray-100">
                    Social Media
                </h2>
                <ul class="mb-3 flex space-x-6 px-4">
                    <li>
                        <a
                            href="mailto:davi.perlam@gmail.com"
                            target="_blank"
                            class="text-xl transition-opacity duration-300 hover:opacity-75 md:text-2xl dark:hover:opacity-75"
                        >
                            <i class="fas fa-envelope text-gray-500 dark:text-gray-300"></i>
                            <!-- Email Icon -->
                        </a>
                    </li>
                    <li>
                        <a
                            href="https://linkedin.com/in/david-perez-lamarca-836a60178/?locale=en_US"
                            target="_blank"
                            class="text-xl transition-opacity duration-300 hover:opacity-75 md:text-2xl dark:hover:opacity-75"
                        >
                            <i class="fab fa-linkedin text-gray-500 dark:text-gray-300"></i>
                            <!-- LinkedIn Icon -->
                        </a>
                    </li>
                    <li>
                        <a
                            href="https://github.com/davidpl064"
                            target="_blank"
                            class="text-xl transition-opacity duration-300 hover:opacity-75 md:text-2xl dark:hover:opacity-75"
                        >
                            <i class="fab fa-github text-gray-500 dark:text-gray-300"></i>
                            <!-- GitHub Icon -->
                        </a>
                    </li>
                    <li>
                        <a
                            href="https://www.strava.com/athletes/dplamarca"
                            target="_blank"
                            class="text-xl transition-opacity duration-300 hover:opacity-75 md:text-2xl dark:hover:opacity-75"
                        >
                            <!-- Strava Icon -->
                            <i class="fab fa-strava text-gray-500 dark:text-gray-300"></i>
                        </a>
                    </li>
                </ul>

                <div class="flex w-fit flex-col">
                    <div class="flex justify-between">
                        <h2
                            class="text-xl font-semibold text-gray-800 md:text-2xl dark:text-gray-100"
                        >
                            Resume
                        </h2>
                        <a
                            href="/resume.pdf"
                            download="resume_dplamarca.pdf"
                            class="inline-flex items-center rounded-lg border border-gray-200 bg-white px-4 py-2 text-sm font-medium text-gray-900 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:text-blue-700 focus:ring-4 focus:ring-gray-100 focus:outline-none dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white dark:focus:ring-gray-700"
                            ><svg
                                class="me-2.5 h-3.5 w-3.5"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="currentColor"
                                viewBox="0 0 20 20"
                            >
                                <path
                                    d="M14.707 7.793a1 1 0 0 0-1.414 0L11 10.086V1.5a1 1 0 0 0-2 0v8.586L6.707 7.793a1 1 0 1 0-1.414 1.414l4 4a1 1 0 0 0 1.416 0l4-4a1 1 0 0 0-.002-1.414Z"
                                ></path>
                                <path
                                    d="M18 12h-2.55l-2.975 2.975a3.5 3.5 0 0 1-4.95 0L4.55 12H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2Zm-3 5a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z"
                                ></path>
                            </svg>
                            Download</a
                        >
                    </div>
                    <PDFViewer src="/resume.pdf" />
                </div>
            </div>

            <!-- Wrapper second column -->
            <form
                name="contact"
                class="mx-auto max-w-lg space-y-4 py-2 lg:py-4"
                netlify-honeypot="bot-field"
                data-netlify-recaptcha="true"
                data-netlify="true"
            >
                <input
                    type="hidden"
                    name="subject"
                    value="New lead from %{formName} (%{submissionId})"
                />
                <p class="hidden">
                    <label>
                        Do not fill this out if you’re human: <input name="bot-field" type="text" />
                    </label>
                </p>
                <div>
                    <label for="name" class="mb-2.5 block text-sm font-medium text-heading"
                        >Name</label
                    >
                    <input
                        name="name"
                        type="text"
                        id="name"
                        class="block w-full rounded-base border border-default-medium bg-neutral-secondary-medium px-3 py-2.5 text-sm text-heading shadow-xs placeholder:text-body focus:border-brand focus:ring-brand"
                        placeholder=""
                        required
                    />
                </div>
                <div>
                    <label for="company" class="mb-2.5 block text-sm font-medium text-heading"
                        >Company</label
                    >
                    <input
                        type="text"
                        id="company"
                        class="block w-full rounded-base border border-default-medium bg-neutral-secondary-medium px-3 py-2.5 text-sm text-heading shadow-xs placeholder:text-body focus:border-brand focus:ring-brand"
                        placeholder=""
                    />
                </div>
                <div>
                    <label for="email" class="mb-2.5 block text-sm font-medium text-heading"
                        >Email</label
                    >
                    <div class="relative">
                        <div
                            class="pointer-events-none absolute inset-y-0 start-0 flex items-center ps-3"
                        >
                            <svg
                                class="h-4 w-4 text-body"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                fill="none"
                                viewBox="0 0 24 24"
                            >
                                <path
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-width="2"
                                    d="m3.5 5.5 7.893 6.036a1 1 0 0 0 1.214 0L20.5 5.5M4 19h16a1 1 0 0 0 1-1V6a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Z"
                                ></path>
                            </svg>
                        </div>
                        <input
                            name="email"
                            type="email"
                            id="email"
                            class="block w-full rounded-base border border-default-medium bg-neutral-secondary-medium py-2.5 ps-9 pe-3 text-sm text-heading shadow-xs placeholder:text-body focus:border-brand focus:ring-brand"
                            placeholder="email@example.com"
                            required
                        />
                    </div>
                </div>
                <div>
                    <label for="message" class="mb-2.5 block text-sm font-medium text-heading"
                        >Message</label
                    >
                    <textarea
                        id="message"
                        rows="4"
                        class="block w-full rounded-base border border-default-medium bg-neutral-secondary-medium p-3.5 text-sm text-heading shadow-xs placeholder:text-body focus:border-brand focus:ring-brand"
                        placeholder="Write your message here..."></textarea>
                </div>
                <div class="mb-5 flex items-start">
                    <label for="privacy-consent" class="flex flex-col space-y-2">
                        <div class="flex h-5 items-center">
                            <input
                                id="privacy-consent"
                                type="checkbox"
                                value=""
                                class="h-4 w-4 rounded-xs border border-default-medium bg-neutral-secondary-medium focus:ring-2 focus:ring-brand-soft"
                                required
                            />
                            <p class="ms-2 text-sm font-medium text-heading select-none">
                                I have read and agree to the
                                <a href="/privacy-policy" class="text-fg-brand hover:underline"
                                    >Privacy Policy</a
                                >.
                            </p>
                        </div>
                        <p class="text-xs text-heading select-none">
                            By submitting this form, you agree that the information provided will be
                            used to respond to your message.
                        </p>
                    </label>
                </div>
                <div data-netlify-recaptcha="true"></div>
                <button
                    type="submit"
                    class="box-border rounded-base border border-transparent bg-brand px-4 py-2.5 text-sm leading-5 font-medium text-white shadow-xs hover:bg-brand-strong focus:ring-4 focus:ring-brand-medium focus:outline-none"
                >
                    Submit
                </button>
            </form>
        </div>
    </main>
</BaseLayout>
