---
import { Image } from 'astro:assets'

const { title = '', 'image-hero': imageHero = '' } = Astro.props
---

<div class="mx-auto flex max-w-(--breakpoint-xl) flex-col">
    <figure class="relative mb-4 max-h-[60vh] w-full overflow-hidden">
        <Image class="inset-0 w-full object-cover" src={imageHero} alt={title} />

        <!-- Overlay -->
        <div class="absolute inset-0 bg-black/50"></div>

        <!-- Centered Title -->
        <div class="absolute inset-0 flex items-center justify-center">
            <h1
                class="text-center text-4xl font-semibold tracking-wide text-white uppercase md:text-6xl"
            >
                {title}
            </h1>
        </div>
    </figure>
    <div
        class="flex flex-wrap gap-2 pl-4 text-sm text-gray-400 [&>span:not(:last-child)]:after:mx-2 [&>span:not(:last-child)]:after:content-['|']"
    >
        <span>Updated: March 09, 2026</span>
        <!-- <span></span>
        <span></span> -->
    </div>
</div>
