---
import BaseLayout from '../../layouts/BaseLayout.astro'

import ProjectHero from '../../components/ProjectHero.astro'
---

<!-- <BaseLayout
    body-class="flex flex-col min-h-screen bg-white text-gray-800 dark:bg-gray-900 dark:text-gray-200"
    ,
    header-navbar-class="sticky top-0 z-20 w-full flex-none"
>
    <main
        class="grow content-center bg-gray-700 bg-[url('../assets/work_in_progress_3.jpeg')] bg-center bg-no-repeat bg-blend-multiply"
    >
        <div class="mx-auto px-4 py-24 text-center lg:py-56">
            <h1
                class="mb-4 text-4xl leading-tight font-extrabold tracking-tight text-white md:text-5xl lg:text-6xl"
            >
                Work in progress, it'll be updated as soon as possible.
            </h1>
        </div>
    </main>
</BaseLayout> -->
<BaseLayout
    body-class="flex flex-col min-h-screen bg-white text-gray-800 dark:bg-gray-900 dark:text-gray-200"
    ,
    header-navbar-class="sticky top-0 z-20 w-full flex-none"
>
    <main
        class="flex w-full max-w-(--breakpoint-xl) flex-1 flex-col justify-center px-4 py-4 lg:py-8"
    >
        <div
            class="relative overflow-x-auto rounded-base border border-default bg-neutral-primary-soft shadow-xs"
        >
            <table class="w-full text-left text-sm text-body rtl:text-right">
                <thead class="border-b border-default bg-neutral-secondary-soft">
                    <tr>
                        <th scope="col" class="px-6 py-3 font-medium"> Product name </th>
                        <th scope="col" class="px-6 py-3 font-medium"> Color </th>
                        <th scope="col" class="px-6 py-3 font-medium"> Category </th>
                        <th scope="col" class="px-6 py-3 font-medium"> Price </th>
                        <th scope="col" class="px-6 py-3 font-medium"> Action </th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        class="border-b border-default odd:bg-neutral-primary even:bg-neutral-secondary-soft"
                    >
                        <th
                            scope="row"
                            class="px-6 py-4 font-medium whitespace-nowrap text-heading"
                        >
                            Apple MacBook Pro 17"
                        </th>
                        <td class="px-6 py-4"> Silver </td>
                        <td class="px-6 py-4"> Laptop </td>
                        <td class="px-6 py-4"> $2999 </td>
                        <td class="px-6 py-4">
                            <a href="#" class="font-medium text-fg-brand hover:underline">Edit</a>
                        </td>
                    </tr>
                    <tr
                        class="border-b border-default odd:bg-neutral-primary even:bg-neutral-secondary-soft"
                    >
                        <th
                            scope="row"
                            class="px-6 py-4 font-medium whitespace-nowrap text-heading"
                        >
                            Microsoft Surface Pro
                        </th>
                        <td class="px-6 py-4"> White </td>
                        <td class="px-6 py-4"> Laptop PC </td>
                        <td class="px-6 py-4"> $1999 </td>
                        <td class="px-6 py-4">
                            <a href="#" class="font-medium text-fg-brand hover:underline">Edit</a>
                        </td>
                    </tr>
                    <tr
                        class="border-b border-default odd:bg-neutral-primary even:bg-neutral-secondary-soft"
                    >
                        <th
                            scope="row"
                            class="px-6 py-4 font-medium whitespace-nowrap text-heading"
                        >
                            Magic Mouse 2
                        </th>
                        <td class="px-6 py-4"> Black </td>
                        <td class="px-6 py-4"> Accessories </td>
                        <td class="px-6 py-4"> $99 </td>
                        <td class="px-6 py-4">
                            <a href="#" class="font-medium text-fg-brand hover:underline">Edit</a>
                        </td>
                    </tr>
                    <tr
                        class="border-b border-default odd:bg-neutral-primary even:bg-neutral-secondary-soft"
                    >
                        <th
                            scope="row"
                            class="px-6 py-4 font-medium whitespace-nowrap text-heading"
                        >
                            Google Pixel Phone
                        </th>
                        <td class="px-6 py-4"> Gray </td>
                        <td class="px-6 py-4"> Phone </td>
                        <td class="px-6 py-4"> $799 </td>
                        <td class="px-6 py-4">
                            <a href="#" class="font-medium text-fg-brand hover:underline">Edit</a>
                        </td>
                    </tr>
                    <tr class="odd:bg-neutral-primary even:bg-neutral-secondary-soft">
                        <th
                            scope="row"
                            class="px-6 py-4 font-medium whitespace-nowrap text-heading"
                        >
                            Apple Watch 5
                        </th>
                        <td class="px-6 py-4"> Red </td>
                        <td class="px-6 py-4"> Wearables </td>
                        <td class="px-6 py-4"> $999 </td>
                        <td class="px-6 py-4">
                            <a href="#" class="font-medium text-fg-brand hover:underline">Edit</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</BaseLayout>
