/* Add Tailwind directives */
@import 'tailwindcss';
@config '../tailwind.config.js';

/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #d3d3d3;
}
