/* Add Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #d3d3d3;
}
